---
import DescriptionCard from "./DescriptionCard.astro"
import DescriptionBottom from "./DescriptionBottom.astro"
---

<section class="mt-[120px] max-sm:mt-[60px]">
    <div class="sticky top-[40px]">
        <h1>Postres caseros, sabor auténtico, bienestar garantizado. </h1>
        <p class="max-w-[900px] mt-[40px] max-sm:mt-[20px]">El procesamiento "en frío" para obtener la pasta de almendras deja inalterados los nutrientes saludables contenidos naturalmente en las almendras.</p>
    </div>
    <DescriptionCard />
    <DescriptionBottom />
</section>