---
---

<header class="absolute w-full top-0 z-40 p-[20px]">
    <nav class="flex justify-between items-center">
        <ul class="flex">
            <li>
                <a 
                    class="font-bold duration-300 transition-all" href="#">Galletas</a>
            </li>
        </ul>
        <ul class="flex">
            <li>
                <a href="">
                    <h2 class="max-sm:text-[1.3rem]">Galletas</h2>
                </a>
            </li>
        </ul>
        <ul class="flex">
            <li>
                <a 
                    class="font-bold duration-300 transition-all" href="#">Contacto</a>
            </li>
        </ul>
    </nav>
</header>

<style>
    header{
        background: linear-gradient(to top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.549));
    }
    header a:hover{
        opacity: .5;
    }
</style>