---
---

<!-- <header class="absolute w-full top-0 z-40 p-[20px]">
    <nav class="flex justify-between">
        <ul class="flex">
            <li>
                <a href="">
                    <h2>Galletas</h2>
                </a>
            </li>
        </ul>
        <ul class="flex items-center gap-[40px]">
            <li>
                <a 
                    class="font-bold duration-300 transition-all" href="#">Galletas clásica</a>
            </li>
            <li>
                <a 
                    class="font-bold duration-300 transition-all" href="#">Galleta con pistacho</a>
            </li>
            <li>
                <a 
                    class="font-bold duration-300 transition-all" href="#">Galletas con cereza negra</a>
            </li>
        </ul>
    </nav>
</header> -->

<style>
    header{
        background: linear-gradient(to top, rgba(0, 0, 0, 0), rgb(0, 0, 0));
    }
    header a:hover{
        opacity: .5;
    }
</style>