---
import SliderCard from "./SliderCard.astro";
---

<ul class="flex gap-[20px] max-sm:gap-[10px]">
    <li class="translate-y-[20px]">
        <SliderCard
            img="slider1.jpg"
         />
    </li>
    <li class="translate-y-[-20px]">
        <SliderCard
            img="slider2.jpg"
         />
    </li>
    <li class="translate-y-[20px]">
        <SliderCard
            img="slider3.jpg"
         />
    </li>
    <li class="translate-y-[-20px]">
        <SliderCard
            img="slider4.jpg"
         />
    </li>
</ul>